<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="Waxlimbs" href="/feed.rss">
    <meta name="robots" content="noai, noimageai">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>{{ site.title }} - {{ title }}</title>
</head>
<body>
    <div id="main-container">
        {{ include "partials/header.vto" }}

        <main id="main"> 
            <section class="main-content">
                <h1 class="page-title">
                    {{ if title == "home" }}
                        {{# {{- site.title |> toUpperCase() -}} #}}
                        <img src="/assets/images/wordmark_white.png" alt="Waxlimbs" class="wordmark">
                    {{ else }}
                        {{- title |> toUpperCase() -}}
                    {{ /if }}
                </h1>
                {{ content |> safe }}
            </section>

            <footer>
                {{ include "partials/footer.vto" }}
                <div class="mobile-only">
                    {{ include "partials/copyright.vto" }}
                </div>
            </footer>
        </main>
    </div>

    <style>
        :root {
            --logo: url({{ site.logo |> url }});
            --logo_mobile: url({{ site.logo_mobile |> url }});
            --logo_width: {{ site.logo_width }};
            /* Icons */
            --icon-menu: url({{ "list" |> icon("phosphor")|> url }});
            --icon-close: url({{ "x" |> icon("phosphor") |> url }});
            /* Socials */
            --icon-instagram: url({{ "instagram-logo:thin" |> icon("phosphor") |> url }});
            --icon-bsky: url({{ "butterfly:thin" |> icon("phosphor") |> url }});
            --icon-mastodon: url({{ "mastodon-logo:thin" |> icon("phosphor") |> url }});
            --icon-youtube: url({{ "youtube-logo:thin" |> icon("phosphor") |> url }});
            --icon-tiktok: url({{ "tiktok-logo:thin" |> icon("phosphor") |> url }});
            --icon-bandcamp: url({{ "parallelogram:thin" |> icon("phosphor") |> url }});
            --icon-rss: url({{ "rss" |> icon("phosphor") |> url }});
        }
    </style>
    <script src="/assets/scripts/global.js"></script>
</body>
</html>