<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>{{ site.title }} - {{ title }}</title>
</head>
<body>
    <div id="main-container">
        {{ include "partials/header.vto" }}

        <main>
            <section class="main-content">
                <h1 class="page-title">{{ title |> charAt(0).toUpperCase() + title.slice(1) }}</h1>
                {{ content |> safe }}
            </section>

            <footer>
                {{ include "partials/footer.vto" }}
                <div class="mobile-only">
                    {{ include "partials/copyright.vto" }}
                </div>
            </footer>
        </main>
    </div>

    <style>
        :root {
            --logo: url(/assets/icons/Mask_Stroke_Thicker_White.svg);
            --logo_width: {{ site.logo_width }}px;
        }
    </style>
    <script src="/assets/scripts/global.js"></script>
</body>
</html>