---
title: lyrics
type: utility
draft: false
---

{{ set tracks = search.pages("type=lyrics draft=false") }}
{{> 
    tracks.sort((a,b) => {
        let sort = b.date - a.date;
        if (sort == 0) sort = a.order - b.order;
        return sort;
    });
}}
{{ set currentRelease = "" }}

{{ for track of tracks }}
    {{ if track.release_title != currentRelease }}
        {{ if currentRelease != "" }}       
            </ol>
        {{ /if }}
        {{ set currentRelease = track.release_title }}
        <h2 class="font-medium">{{ track.release_title }} ({{ track.date |> date('yyyy') }})</h2>
        <ol>
    {{ /if }}
    <li class="lyrics-list-item"><a href="{{ track.url }}">{{ track.title }}</a></li>
{{ /for }}
</ol>
