---
title: shows
draft: false
---


<script charset="utf-8" src="https://widgetv3.bandsintown.com/main.min.js"></script>
<a class="bit-widget-initializer"

data-artist-name="id_3237895"

data-background-color="var(--color-background)"
data-separator-color="var(--color-primary-fainter)"
data-text-color="var(--color-primary)"
data-font="'Source Code Pro'"
data-auto-style="false"

data-button-label-capitalization="capitalize"
data-location-capitalization="capitalize"
data-venue-capitalization="capitalize"
data-display-local-dates="false"
data-local-dates-position="tab"
data-display-details="false"
data-display-lineup="false"
data-display-start-time="false"
data-social-share-icon="false"
data-display-limit="all"

data-date-format="MMM. D, YYYY"
data-date-orientation="horizontal"
data-date-border-color="var(--color-primary-faint)"
data-date-border-width="1px"
data-date-capitalization="uppercase"
data-date-border-radius="4px"

data-event-ticket-cta-size="medium"
data-event-ticket-text="TICKETS"
data-event-ticket-cta-text-color="var(--color-background)"
data-event-ticket-cta-bg-color="var(--color-primary)"
data-event-ticket-cta-border-color="var(--color-primary-faint)"
data-event-ticket-cta-border-width="1px"
data-event-ticket-cta-border-radius="4px"

data-sold-out-button-text-color="var(--color-background)"
data-sold-out-button-background-color="var(--color-primary)"
data-sold-out-button-border-color="var(--color-primary-faint)"
data-sold-out-button-clickable="true"

data-event-rsvp-position="left"
data-event-rsvp-cta-size="medium"
data-event-rsvp-only-show-icon="true"
data-event-rsvp-text="REMIND ME"
data-event-rsvp-cta-text-color="var(--color-primary)"
data-event-rsvp-cta-bg-color="var(--color-background)"
data-event-rsvp-cta-border-color="var(--color-primary-faint)"
data-event-rsvp-cta-border-width="1px"
data-event-rsvp-cta-border-radius="4px"

data-follow-section-position="top"
data-follow-section-alignment="left"
data-follow-section-header-text="Get updates on new shows"
data-follow-section-cta-size="medium"
data-follow-section-cta-text="FOLLOW"
data-follow-section-cta-icon="true"
data-follow-section-cta-text-color="var(--color-background)"
data-follow-section-cta-bg-color="var(--color-primary)"
data-follow-section-cta-border-color="var(--color-primary-faint)"
data-follow-section-cta-border-width="1px"
data-follow-section-cta-border-radius="4px"

data-play-my-city-position="bottom"
data-play-my-city-alignment="left"
data-play-my-city-header-text="Don’t see a show near you?"
data-play-my-city-cta-size="medium"
data-play-my-city-cta-text="REQUEST A SHOW"
data-play-my-city-cta-icon="true"
data-play-my-city-cta-text-color="var(--color-background)"
data-play-my-city-cta-bg-color="var(--color-primary)"
data-play-my-city-cta-border-color="var(--color-primary-faint)"
data-play-my-city-cta-border-width="1px"
data-play-my-city-cta-border-radius="4px"

data-language="en"
data-layout-breakpoint="749"
data-app-id="js_waxlimbs.com"
data-bit-logo-position="hidden"
data-bit-logo-color="var(--color-primary)"

></a>

<a href="/assets/audio/Will's_Nightmare.mp3" style="color: var(--color-background);" title="upcoming single sneak peek" target="_blank">secret track >:)</a>