---
title: "press"
---

{{ await comp.Toc() }}

{{ await comp.Figure({
    image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-12.jpg",
    image_alt: "Olivia singing while playing keys on a purple-lit stage in a Waxlimbs mask",
    image_caption: "Waxlimbs performing in 2025",
    image_attribution: "Emily Thuro",
    attribution_link: "https://emilythuro.com"
})}}

<p>
    Waxlimbs is an electronic-rock project based in Toronto. The group’s sound encapsulates alternative rock, electronica and progressive metal.
</p>
<p>
    Live, they perform in striking masks with a reactive lightshow, both of which complement their peculiar sound. Waxlimbs’ music explores themes of alienation, loss and mutation in an effort to conjure a sense of never feeling quite at home; of living in a different universe with no hope of return, and the adaptation that must occur.
</p>

<hr>

<div class="epk">
    <div class="epk-header">
        <h2 title="Electronic Press Kit">EPK</h2>
        <hr class="translucent">
        <p class="subtitle font-small">Alien alternative.</p>
        <p class="byline">
            Waxlimbs merges uneasy alternative rock and vibrant electronica to express an urgent desire to transform.
        </p>
        <p class="bio">
            From solo beginnings in the Toronto and Montréal electronica scene, 
            Waxlimbs has evolved into an ambitious 4-piece which connects the band’s distinct
            theatricality to their progressive rock and metal influences. 
            With a custom-built lighting rig and striking masks augmenting their immersive live experience, 
            Waxlimbs stands apart.
        </p>
    </div>

    {{ await comp.ImageWithText({
        blurb: `
            Waxlimbs has become known for their genre-leaping song structures, 
            enveloping their alternative roots in dramatic art rock and balladry. 

            Sonically tied to progressive acts such as Porcupine Tree, Radiohead, Bent Knee, and Pile, 
            their versatile sound is further distinguished by their vocal and technical depth.

            Waxlimbs is unafraid to highlight the strengths of all three vocalists, 
            or relegate any member to one specific task.
        `,
        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-19.jpg",
        image_alt: "Lex playing bass in a black dress and a Waxlimbs mask, lit from the side with orange light",
        image_caption: "Waxlimbs live at Handlebar in 2025.",
        image_attribution: "Emily Thuro",
        attribution_link: "https://www.emilythuro.com/",
        image_orientation: "right",
    })}}

    <h2>Members</h2>
    <p>
        Project founder <a href="https://lexfeathers.ca">Lex’s</a> stage presence on vocals, bass and electric guitar is angular and explosive. 
        Growing up listening to the likes of Nine Inch Nails, Björk and Massive Attack, her in-house production skills 
        have allowed Waxlimbs to develop a heavy focus on synthesis and sound design, building a clear 
        and unique vision since the beginning of the project. 
    </p>

    <p>
        Powerful belting vocals by <a href="https://leverette.bandcamp.com/">Olivia</a> - as well as supporting on synths, keys, and guitar - 
        have been compared to Amy Lee (Evanescence) and Ann Wilson (Heart), given an edge by her 
        classical background in theatre, choir, and opera. 
    </p>
        
    <p>
        Guitarist and vocalist <a href="https://willjarvis.bandcamp.com/">Will’s</a> shimmering 
        atmospheric playing and crystal clear baritone, reminiscent of Jeff Buckley, soars above his 
        guttural and dynamic solos. 
    </p>

    <p>
        <a href="https://astrolope.bandcamp.com/album/astrolope">Paul’s</a>  textural and meticulous drumming holds the group in a controlled chaos, 
        incorporating electronic percussion while covertly operating the band’s light show and live tracks. 
    </p>

    <h2>Live</h2>

    {{ await comp.ImageWithText({
        blurb: `
            In addition to their unique sonic position in the rock scene, Waxlimbs has quickly gathered a 
            passionate fanbase through their energetic, fine-tuned performances and captivating stage presence. 
        `,
        image_url: "/uploads/FromTheGarden2023/band_ftg_1.png",
        image_alt: "Waxlimbs performing on a foggy, dimly lit stage with a large set of diamond-shaped lights behind them",
        image_caption: "Waxlimbs performing in 2023's 'From The Garden'",
        image_attribution: "Zach Silverstein",
        attribution_link: "https://www.zachsilverstein.com/",
        image_orientation: "left"
    }) }}

    <p>
        Live, they perform in dramatic white masks with a reactive lightshow, both of which complement 
        their unmistakable sound and leaves the audience fully immersed.
    </p>

    <h3 class="video-title">Concert film</h3>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Vdv_kSk1kPk?si=LnGSFrnNe1M9_rqW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p>
        Waxlimbs’ sold-out, guerilla concert recording “From The Garden”, was a testament to the deep community support they garner from their raw songwriting and DIY approach. 
    </p>

    <h3>Toronto presence</h3>
    <p>
        With showcase performances at Lee’s Palace, the mainstage at Long Winter Festival 2023 (Toronto Arts Council), 
        Happy Sundays at the Baby G (FACTOR, Transmit Presents), as well as two separate shows at NXNE 2024, 
        Waxlimbs is establishing themselves as a burgeoning and unique force in the rock scene as well as a 
        proudly queer and trans-fronted project. 
    </p>

    <p>
        Their extraordinary design and approach is an exciting presence in the mainstream rock landscape, 
        creating a welcoming space for the eccentric and open-minded listener.
    </p>

    <hr>

    <h2>Quotes</h2>

    <blockquote cite="https://nextmag.ca/list_item/waxlimbs/">
        There is something unpredictable, mysterious and beautiful about a Waxlimbs performance. The band incorporates visual arts with their signature sounds at live shows, which makes for a memorable experience in an intimate venue.  
        <cite>
            <a href="https://nextmag.ca/list_item/waxlimbs/" rel="nofollow">
                - NXNE preview, NEXT Magazine, June 2024
            </a>
        </cite>
    </blockquote>

    <blockquote cite="https://orlandodasilva.substack.com/p/waxlimbs-computer-worrywort-and-arenas">
        Waxlimbs, for the uninitiated, are the rare underground rock band that not only dress up for the occasion, they bring their own damn light show. As much as the presentation and mystique of it all feels like a welcome novelty in the indie world, they back that up with an ambitious alt-meets-art-rock sound that no one else in this town is even aiming for (short of perhaps Mother Tongues).
        <cite>
            <a href="https://orlandodasilva.substack.com/p/waxlimbs-computer-worrywort-and-arenas" rel="nofollow">
                - Orlando Da Silva, Trill Your Idols
            </a>
        </cite>
    </blockquote>

    <blockquote cite="https://weirdcanada.com/posts/new-canadiana-waxlimbs-coldform">
        From deep within the disjointed experience of the subconscious mind, Toronto’s Waxlimbs uncovers a collection of rhythmic and melodic moments that capture the chaotic nature of existence. 
        <cite>
            <a href="https://weirdcanada.com/posts/new-canadiana-waxlimbs-coldform" rel="nofollow">
                - Bobby Andrews, Weird Canada
            </a>
        </cite>
    </blockquote>

    <h2>Gallery</h2>

    <div class="gallery">
        <p class="subtitle">Photos by <a href="https://www.emilythuro.com/">Emily Thuro</a></p>
        {{ await comp.ImageGrid({
                columns: 3,
                grid: [
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-15.jpg",
                        image_alt: `Will from Waxlimbs performing on a dim stage, lit from the side in red.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-12.jpg",
                        image_alt: `Olivia from Waxlimbs singing`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-28.jpg",
                        image_alt: `Paul from Waxlimbs drumming under blue light.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-01.jpg",
                        image_alt: `Lex from Waxlimbs playing bass under blue light.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-26.jpg",
                        image_alt: `Lex from Waxlimbs.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-16.jpg",
                        image_alt: `Paul from Waxlimbs playing drums.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-32.jpg",
                        image_alt: `Will from Waxlimbs playing guitar.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-46.jpg",
                        image_alt: `Lex from Waxlimbs performing on a dark stage with her leg up on the kick drum, holding a microphone.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-30.jpg",
                        image_alt: `Olivia from Waxlimbs singing in the dark.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-36.jpg",
                        image_alt: `Will from Waxlimbs playing guitar on a stage lit green.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-19.jpg",
                        image_alt: `Lex from Waxlimbs playing bass under orange light.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                    {
                        image_url: "/uploads/HandleBar2025_EmThuro/20251018-Waxlimbs-Handlebar-50.jpg",
                        image_alt: `Waxlimbs performing on a dark stage.`,
                        image_caption: "Waxlimbs performing in 2025",
                        image_attribution: "Emily Thuro",
                        attribution_link: "https://www.emilythuro.com/"
                    },
                ]
            }) 
        }}
    </div>

    <h2>Videos</h2>

    <h3 class="video-title">Dead In The Water (2020)</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/E2Hd4MBF7x8?si=mQcDarradUHLDTvJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h3 class="video-title">Watcher (From The Garden, 2023)</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MFB1IKaYPMI?si=r5pFlftaAQNLLx3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <h3 class="video-title">Need (From The Garden, 2023)</h3>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/a-IdBNXCgqA?si=9uEfhhjYNuISqj0b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>


<style>
.epk {
    display: flex;
    flex-direction: column;

    .epk-header {
        border-left: 1px solid var(--color-secondary-faint);
        padding-left: calc(var(--spacing) * 4);

        .byline {
            font-style: italic;
            color: var(--color-primary-faint);
        }

        .bio {
            &::before {
                content: '⟣';
            }
        }
    }

    h2:not(.component h2) {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing) * 3);
        
        &::before {
            content: '';
            width: 2.5rem;
            aspect-ratio: 1/1;
            mask: var(--icon-diamond);
            mask-position: center;
            mask-repeat: no-repeat;
            background-color: var(--color-primary);
        }
    }
}
</style>
