---
title: FAQ
description: The Waxlimbs cheat-sheet for questions we often receive 
type: utility
draft: false
---

<h2>Frequently Asked Questions</h2>

<ul>
	<li>
		<h3>How do you spell Waxlimbs?</h3>
		<p>There is no space. It's one word.</p>
	</li>
	<li>
		<h3>What's the deal with the masks?</h3>
		<p>
			When Lex started performing solo as Waxlimbs, she had stage fright and additionally felt the need to provide something more to look at than just a person alone on a stage. As Waxlimbs grew in members, the masks multiplied and have evolved in appearance and material composition.
		</p>
	</li>
	<li>
		<h3>Where does the name Waxlimbs come from?</h3>
		<p>
			Lex wrote out 10-or-so names when she was 16, and landed on this one. She felt it represented the way her body looked and moved at the time.
		</p>
	</li>
	<li>
		<h3>Where did you get those lights?</h3>
		<p>
			Paul, Lex and Will worked at a custom lighting shop and built them with scrap materials. We use an enttec DMXIS to control them with Midi automations in Ableton.
		</p>
	</li>
	<li>
		<h3>When is your next album coming out?</h3>
		<p>
			It's too soon to announce a release date, but it's in active production. We're hoping to have an answer to this soon.
		</p>
	</li>
</ul>