@import url(fonts.css);

:root {
    /* Global variables */

    /* Colours */
    --color-primary: white;
    --color-primary-faint: color-mix(in srgb, var(--color-primary), var(--color-background) 25%);
    --color-secondary: #ffd900;
    --color-tertiary: #ff0084;
    --color-background: #141414;
    --color-background-darker: black;
    --color-secondary-faint: color-mix(in srgb, var(--color-secondary), var(--color-background) 20%);

    /* Fonts */
    --font-small: 1rem;
    --font-medium: 1.2rem;
    --font-large: 1.4rem;
    --font-larger: 1.6rem;

    /* Layout */
    --spacing: 0.25rem;

    /* Borders */
    --radius: var(--spacing);

    /* Shadows */
    --shadow: 0px 4px 8px var(var(--color-background-darker));

    @media screen and (prefers-color-scheme: light) {
        
    }
    
    @media screen and (prefers-color-scheme: dark) {
        
    }
}

* {
    box-sizing: border-box;
}

html {
    color-scheme: dark light;
}

/* Helpers */
.font-small { font-size: var(--font-small); }
.font-medium { font-size: var(--font-medium); }
.font-large { font-size: var(--font-large); }
.font-larger { font-size: var(--font-larger); }
.desktop-only {
    @media screen and (max-width: 749px) {
        display: none;
    }
    @media screen and (min-width: 750px) {
        display: block;
    }
}
.mobile-only {
    @media screen and (max-width: 749px) {
        display: block;
    }
    @media screen and (min-width: 750px) {
        display: none;
    }
}
/* End Helpers */

body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - calc(var(--spacing) * 2));;
    padding: calc(var(--spacing) * 4);
    margin: 0;
    gap: calc(var(--spacing) * 4);
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: var(--font-medium);
    font-family: 'Source Code Pro', 'Fira Code', monospace;
    font-weight: lighter;
}

#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 64rem;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: calc(100% - calc(var(--spacing) * 8));
    border-right: 1px solid var(--color-primary-faint);
    padding-right: calc(var(--spacing) * 4);

    @media screen and (max-width: 749px) {
        flex-direction: row;
        gap: calc(var(--spacing) * 8);
        align-items: center;
        justify-content: space-between;
        border-right: none;
    }
}

hr {
    width: 100%;
    border: none;
    border-radius: 2px;
    height: 1px;
    background-color: var(--color-primary-faint);
    margin: calc(var(--spacing) * 8) 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 500;
}

#logo {
    mask: url(/assets/icons/Mask_Stroke_Thicker_White.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    width: var(--logo_width);
    height: var(--logo_width);
    background-color: var(--color-primary);
    transition: .25s;
    image-rendering: pixelated;
    
    &:hover {
        background-color: var(--color-tertiary);
    }

    @media screen and (max-width: 749px) {
        width: calc(var(--logo_width) / 2);
        height: calc(var(--logo_width) / 2);
        vertical-align: middle;
    }
}

#nav {
    .links {
        display: flex;
        flex-direction: column;
        row-gap: calc(var(--spacing) * 2);;

        @media screen and (max-width: 749px) {
            flex-direction: row;
            column-gap: calc(var(--spacing) * 2);
        }
        
        a {
            text-decoration: none;
            transition-property: padding-left;
            transition-duration: .1s;
            
            &:hover {
                padding-left: var(--spacing);
                text-decoration: underline;
                background: 
                    linear-gradient(
                        112deg, 
                        var(--color-primary-faint) 90%, 
                        var(--color-tertiary) 90.1%, 
                        var(--color-tertiary) 94%, 
                        rgba(0, 0, 0, 0) 94.1%
                    );
                color: var(--color-background);
                font-weight: normal;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin-left: calc(var(--spacing) * 52);
    margin-top: calc(var(--spacing) * 8);
    margin-right: calc(var(--spacing) * 8);

    @media screen and (max-width: 749px) {
        margin-left: 0;
        margin-top: calc(var(--spacing) * 4);
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

a {
    color: var(--color-secondary);
    
    &:has(#logo) {
        text-decoration: none;
        color: var(--color-primary);
    }

    &:hover {
        color: var(--color-secondary-faint);
    }
}

.sidebar-footer {
    border-top: 1px solid var(--color-primary-faint);
    padding-top: calc(var(--spacing) * 4);
    margin-top: auto;

    @media screen and (max-width: 749px) {
        display: none;
    }
}

footer {
    display: inline-flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 4);

    .footer-copy, .copyright {
        color: var(--color-primary-faint);
    }
}

.tag:not(:last-of-type)::after {
    content: ", ";
}

@media screen and (max-width: 749px) {
    #main-container {
        flex-direction: column;
    }
    
    main {
        margin-left: unset;
    }

    header {
        position: relative;
    }
}