<div class="footer-bottom">
    <span class="font-small copyright">
        <a href="/assets/audio/Anlet_guitararray.mp3" style="color: var(--color-primary); text-decoration: none;">&copy;</a> Waxlimbs {{ date |> date("yyyy")}}
    </span>
</div>