<p class="footer-copy font-small">
    Made with love, by Waxlimbs <3
</p>
<div class="footer-icons">
    {{ for item of site.socials }}
        <a href="{{ item.link }}" title="{{ item.name }}" target="_blank">
            <div class="{{ item.name }} social-icon"></div>
        </a>
    {{ /for }}
    <a href="/feed.rss">RSS</a>
</div>